<h1>Preguntas Frecuentes</h1>

<main>
    <div class="categorias" id="categorias">
        <div class="categoria activa" data-categoria="metodos-pago">
            <img src="../../assets/img/icon-pago.png" alt="">
            <p class="nombre">Metodos de Pago</p>
        </div>
        <div class="categoria" data-categoria="atencion">
            <img src="../../assets/img/icon-atencion.png" alt="">
            <p class="nombre">Atencion</p>
        </div>
        <div class="categoria" data-categoria="cuenta">
            <img src="../../assets/img/icon-cuenta.png" alt="">
            <p class="nombre">Cuenta</p>
        </div>
    </div>
    <div class="preguntas">
        <div class="container-preguntas activo" data-categoria="metodos-pago">
            <div class="container-pregunta">
                <p class="pregunta">¿Qué metodos de pagos disponibles tienen?<img src="assets/img/icon-mas.png" alt="Abrir Respuesta" class="signo"></p>
                <p class="respuesta">Nosotros aceptamos pagos ya sean en efectivo o por tarjeta de credito.</p>
            </div>
            <div class="container-pregunta">
                <p class="pregunta">¿Tiene plazo de pago? <img src="assets/img/icon-mas.png" alt="Abrir Respuesta" class="signo"></p>
                <p class="respuesta">El plazo de pago es hasta el dia de tu cita.</p>
            </div>
        </div>
        <div class="container-preguntas" data-categoria="atencion">
            <div class="container-pregunta">
                <p class="pregunta">¿Que animales pueden atender?<img src="assets/img/icon-mas.png" alt="Abrir Respuesta" class="signo"></p>
                <p class="respuesta">Los animales que atendemos actualmente son: perros, gatos, aves, hamsters y peces.</p>
            </div> 
            <div class="container-pregunta">
                <p class="pregunta">¿Tienen servicio a domicilio?<img src="assets/img/icon-mas.png" alt="Abrir Respuesta" class="signo"></p>
                <p class="respuesta">Por el momento no contamos con ese servicio.</p>
            </div>
        </div>
        <div class="container-preguntas" data-categoria="cuenta">
            <div class="container-pregunta">
                <p class="pregunta">¿Es necesario hacer una cuenta?<img src="assets/img/icon-mas.png" alt="Abrir Respuesta" class="signo"></p>
                <p class="respuesta">No es necesario, pero para tener acceso a los privilegios es nesario tener una.</p>
            </div>
            <div class="container-pregunta">
                <p class="pregunta">¿Cuales son los privilegios de una cuenta?<img src="assets/img/icon-mas.png" alt="Abrir Respuesta" class="signo"></p>
                <p class="respuesta">Los privilegios que tienes como usuario es que desde esta pagina web puedes solicitar la cita para tu mascota.</p>
            </div>
        </div>
    </div>
</main>
